body {
    padding-top: 70px;
    background: #000;
    background: url("../media/homepageImage.jpg") no-repeat;
    background-color:rgba(0, 0, 0, 0.65);

}

.clear {
    clear: both;
}



.navbar {

    width: auto;
    height: auto;
    -webkit-box-shadow: 0 5px 5px -6px #2b2b2b;
    -moz-box-shadow: 0 5px 5px -6px #2b2b2b;
    box-shadow: -10px 5px 5px -6px #2b2b2b;
}

#reservationBtn {
    position: relative;
    margin-top: 10px;
    padding-right: 10px;
}

.reservationFormBtn {
    border: none;
}


#companyName {
    font-size: 1.3em;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
}

video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translateX(-50%) translateY(-50%);
    background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
    background-size: cover;
    transition: 1s opacity;
}

#firstName, #lastName, #phoneNumber, #reservationEmail, #calendar, #time, #address, #city, #state, #airline, #flightNumber, #fname, #email, #phone, #message, #name, #email{
    border: 0;
    background-color: #efefef;


}


.homePageText {
    padding-top: 250px;
    color: floralwhite;
    font-size: 3.0em;
    padding-right: 25px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight:100;
}

.ride {
    color: #ed3434;
    font-weight: 500;
}

@keyframes flickerAnimation {
    20%   { opacity:1; }
    50%  { opacity:0.3; }
    100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
    20%   { opacity:1; }
    50%  { opacity:0.3; }
    100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
    20%   { opacity:1; }
    50%  { opacity:0.3; }
    100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
    20%   { opacity:1; }
    50%  { opacity:0.3; }
    100% { opacity:1; }
}
#arrowDown {
    -webkit-animation: flickerAnimation 2s infinite;
    -moz-animation: flickerAnimation 2s infinite;
    -o-animation: flickerAnimation 2s infinite;
    animation: flickerAnimation 2s infinite;
    width: 700px;
    padding-top: 90px;
    color: #bcbcbc;
    font-size: 1.2em;
}

.space {
    height: 50px;
}

#servicePage {
    position: relative;
    border-top: 3px solid #e0e0e0;
    text-align: center;
    background-color: #dddddd;
    color: #494949;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight:100;
    margin-top: 200px;
    padding-bottom: 15px;
    width: 100%;
    -webkit-box-shadow: -5px -5px 7px -6px #2b2b2b;
    -moz-box-shadow: -5px -5px 7px -6px #2b2b2b;
    box-shadow: -5px -5px 7px -6px #161616;
}

#serviceInfoAbout {

    color: #222222;
}

#serviceSummary {
    font-size: 4.2em;
    padding-bottom: 25px;
    color: #222222;
}

#serviceInfo {
    padding-top: 25px;
    font-size: 5.5em;
}

#servicePage p {
    font-size: 0.5em;
    color: #222222;
}

.parallaxWindow {
    width: 100%;
    height: 300px;
    background-color:rgba(0, 0, 0, 0.65);
    color: white;
    font-size: 10.3em;
    padding-top: 100px;
}

#ratesPage {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #f4f4f4;
    border-top: 1px solid #c9c9c9;
}

#accepted_card_img {
 position: center;
 margin: auto;
 vertical-align: center;
}



.cleanComf {
    color: #ededed;
    margin: 0;
    font-weight: 100;
    font-size: .6em;
}


.testimonialPage {
    padding: 50px 0 50px 0;
    margin: 0;
    border: 0;
    outline: none;
    background-color: #dddddd;
}

#testimonialPage p, h2 {
    font-style: italic;
    color: #222222;
}


#contactPage {

    background: -webkit-linear-gradient(#a5dae2, #bbe2e8); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#a5dae2, #bbe2e8); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#a5dae2, #bbe2e8); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#a5dae2, #bbe2e8); /* Standard syntax */

    outline: none;

    -webkit-box-shadow: -5px -5px 7px -6px #2b2b2b;
    -moz-box-shadow: -5px -5px 7px -6px #2b2b2b;
    box-shadow: -5px -5px 7px -6px #2b2b2b;
}

#contactPage h2 {
    color: #222222;
    margin-bottom: 20px;
}

iframe {
    border: none;
    width: 100%;
    height: 350px;
    background-color: #a5dae2;
}


.contactUsSection {
    margin-top: 20px;
}

.map {
    min-width: 50px;
    min-height: 50px;
    width: 100%;
    height: 100%;
}


.header {
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
}



#bottomImg {
    position: relative;
    width: 100%;
    background-color: #353535;
}

section#contact {
    background-color: #353535;
    padding-top: 25px;

}

section#contact .section-heading {
    color: #fff;
}

section#contact .form-group {
    margin-bottom: 25px;
}

section#contact .form-group input,
section#contact .form-group textarea {
    padding: 20px;
}

section#contact .form-group input.form-control {
    height: auto;
}

section#contact .form-group textarea.form-control {
    height: 236px;
}

section#contact .form-control:focus {
    border-color: #fed136;
    box-shadow: none;
}

section#contact::-webkit-input-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact:-moz-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact::-moz-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact:-ms-input-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact .text-danger {
    color: #e74c3c;
}

#contact_text_info {
    color: #EFEFEF;
}